In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns

# Question 1 

For this question, you only need to do programming for Part 1.1 - 1.6. You will only be asked to provide answers in Part 1.7.

In [280]:
PATH_TO_Q1_DATA = 'data/HW3_Q1_DATA.csv'
df_original = pd.read_csv(PATH_TO_Q1_DATA)

### Data Exploration

In [281]:
df_original.shape

(121913, 19)

In [282]:
df_original.head()

,Sex,Intubated,Pneumonia,Age,Pregnant,Diabetes,COPD,Asthma,Immunocompromised,Hypertension,Other_Disease,Cardiovascular_disease,Obesity,Renal_disease,Smoker,Exposure_to_others_with_COVID,Has_COVID,ICU,Died
0,F,N,N,54,N,N,N,N,N,N,N,N,Y,N,N,NaN,Y,N,N
1,M,N,Y,30,NaN,N,N,N,N,N,N,N,N,N,N,NaN,Y,N,N
2,F,N,N,60,N,Y,N,N,N,Y,N,Y,N,N,N,NaN,Y,N,Y
3,M,N,Y,47,NaN,Y,N,N,N,N,N,N,N,N,N,NaN,Y,Y,Y
4,M,N,N,63,NaN,N,N,N,N,Y,N,N,N,N,N,NaN,Y,N,N

In [354]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121913 entries, 0 to 121912
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Sex                            121913 non-null  object
 1   Intubated                      121789 non-null  object
 2   Pneumonia                      121912 non-null  object
 3   Age                            121913 non-null  int64
 4   Pregnant                       48676 non-null   object
 5   Diabetes                       121244 non-null  object
 6   COPD                           121329 non-null  object
 7   Asthma                         121328 non-null  object
 8   Immunocompromised              121233 non-null  object
 9   Hypertension                   121304 non-null  object
 10  Other_Disease                  120872 non-null  object
 11  Cardiovascular_disease         121267 non-null  object
 12  Obesity                        121279 non-null  object
 13  Renal_disease                  121304 non-null  object
 14  Smoker                         121274 non-null  object
 15  Exposure_to_others_with_COVID  59793 non-null   object
 16  Has_COVID                      121913 non-null  object
 17  ICU                            121788 non-null  object
 18  Died                           121913 non-null  object
dtypes: int64(1), object(18)
memory usage: 17.7+ MB

In [417]:
df_original['Died'].value_counts()

N    89357
Y    32556
Name: Died, dtype: int64

### Encode data

In [284]:
def encode_data_1(df):
    '''
    Encodes categorical data after dropping records with missing values, then returns a DataFrame of the result.
    '''
    
    # drop records with missing values
    df=df_original.dropna()
    print(df.shape)
    
    # convert categorical data to numerical values
    # drop one of each of the binary categories because it is not necessary (all info is encoded by one column)
    df=pd.get_dummies(df, drop_first=True)

    return df

In [285]:
df = encode_data_1(df_original)

(23158, 19)

In [286]:
df.head()

,Age,Intubated_Y,Pneumonia_Y,Pregnant_Y,Diabetes_Y,COPD_Y,Asthma_Y,Immunocompromised_Y,Hypertension_Y,Other_Disease_Y,Cardiovascular_disease_Y,Obesity_Y,Renal_disease_Y,Smoker_Y,Exposure_to_others_with_COVID_Y,Has_COVID_Pending,Has_COVID_Y,ICU_Y,Died_Y
8,25,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
9,52,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,1,0,0
27,51,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
29,67,1,1,0,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0
34,59,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0

In [289]:
df.drop('Age',axis='columns').sum(axis='rows')

Intubated_Y                         2561
Pneumonia_Y                        15016
Pregnant_Y                           561
Diabetes_Y                          6751
COPD_Y                              1063
Asthma_Y                             787
Immunocompromised_Y                  943
Hypertension_Y                      7543
Other_Disease_Y                     1023
Cardiovascular_disease_Y            1240
Obesity_Y                           5388
Renal_disease_Y                     1095
Smoker_Y                            1017
Exposure_to_others_with_COVID_Y     7099
Has_COVID_Pending                   2806
Has_COVID_Y                        11905
ICU_Y                               2698
Died_Y                              4020
dtype: int64

### Separate encoded data into features and target

In [291]:
y = df.loc[:]['Died_Y']
print(y.shape)
X = df.drop('Died_Y',axis='columns')
print(X.shape)

(23158,)
(23158, 18)

### DataFrame to store classifier metrics for all tests

In [292]:
# dataframe to collect results of all tests
df_results = pd.DataFrame(
    columns=['Test',
             'Description',
             'Accuracy',
             'Sensitivity',
             'Specificity',
             'Pos_Predictive_Val',
             'Neg_Predictive_Val',
             'F1_Score',
             'Matthew_Corr_Coef',
             'AUC'
            ]).astype(
    dtype= {'Test':'int64',
            'Description':'object',
            'Accuracy':'float64',
            'Sensitivity':'float64',
             'Specificity':'float64',
             'Pos_Predictive_Val':'float64',
             'Neg_Predictive_Val':'float64',
             'F1_Score':'float64',
             'Matthew_Corr_Coef':'float64',
             'AUC':'float64'
           })

## Part 1.1 Select features and train classifiers

### Part 1.1 Work

In [293]:
# TODO: 
#   Step 1: Select and apply a filter-based or wrapper-based feature selection method to the data.
#   Step 2: Train a classifier using the selected features. Use 10-fold cross validation.

# Tip: 
#   1. You may find the filter-based or wrapper-based methods you used in HW2 useful. 

#   2. Scikit-learn implement many classifiers, see the comparisons of their 
#   performance and introductions here:
#   https://scikit-learn.org/stable/auto_examples/classification/plot_classifier_comparison.html

#   3. Scikit-learn also implement classifiers with built-in cross validations,
#   for example: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeClassifierCV.html

#### Define wrapper-based feature selection method and classifier

In [294]:
from sklearn.svm import SVC
from sklearn.feature_selection import RFECV

def perform_feature_selection_wrapper(X,y):
    svc = SVC(kernel="linear")
    rfecv = RFECV(estimator=svc, step=1, cv=5,scoring='accuracy',n_jobs=3)
    return rfecv.fit(X, y)
  
def get_feature_list(X, support):
    features = list()
    for i,val in enumerate(support):
        if val:
            features.append(X.columns[i]) # feature was selected by wrapper method
        
    return features

In [295]:
from sklearn.linear_model import RidgeClassifierCV

def build_X_from_features(X, list_features):
    return X.loc[:][list_features]

def train_classifier(X,y,k):
    clf = RidgeClassifierCV(alphas=[1e-3, 1e-2, 1e-1, 1],cv=k)
    return clf.fit(X, y)

#### Perform feature selection and classification

In [296]:
%%time 
# runtime - 3.4 s (1000 records, 10 fold, 3 cores)
# runtime - 6 min (10000 records, 10 fold, 3 cores)
# runtime - 6 min (23158 records, 10 fold, 3 cores)

# feature selection
rfecv = perform_feature_selection_wrapper(X,y)
features_wrapper = get_feature_list(X,rfecv.support_)

CPU times: user 2min 38s, sys: 2.05 s, total: 2min 40s
Wall time: 5min 51s

In [297]:
%%time

# classification
X_wrapper = build_X_from_features(X,features_wrapper)
clf_wrapper = train_classifier(X_wrapper,y,10)

CPU times: user 683 ms, sys: 11.6 ms, total: 695 ms
Wall time: 191 ms

#### Calculate metrics and add row to results DataFrame
- Accuracy
- Sensitivity & Specificity
- The positive and negative predictive values 
- F1-score
- The Matthews Correlation Coefficient
- AUC (Area under the ROC curve)

In [446]:
from sklearn.metrics import confusion_matrix

def get_confusion_matrix(y_true,y_predict):
    '''
    Calculates the confusion matrix for a given X,y and classifier.
    '''
    # confusion matrix
    cm = confusion_matrix(y_true, y_predict)
    tn, fp, fn, tp = cm.ravel()
    
    return cm

In [447]:
from sklearn.metrics import matthews_corrcoef
from sklearn.metrics import roc_auc_score

def calc_classifier_metrics(cm, y_true, y_predict):
    
    tn, fp, fn, tp = cm.ravel()
    print('TN:',tn)
    print('FP:',fp)
    print('FN:',fn)
    print('TP:',tp)
    print('TOTAL:',tp + tn + fp + fn)
    
    # accuracy
    acc = (tp + tn) / (tp + tn + fp + fn)
    
    # sensitivity
    sen = tp / (tp + fn)
    
    # specificity
    spec = tn / (tn + fp)
    
    # precision
    prec = tn / (tn + fp)
    
    # positive predictive value
    ppv = tp / (fp + tp) # ?? check correctness
    
    # negative predictive value
    npv = tn / (fn + tn)
    
    # f1 score
    f1 = 2 * (prec * sen) / (prec + sen) 
    
    # matthew correlation coefficient
    mcc = matthews_corrcoef(y_true,y_predict)
    
    # area Under the receiver (AUC)
    auc = roc_auc_score(y_true, y_predict)
    
    # return numpy array  
    metrics = [acc,sen,spec,ppv,npv,f1,mcc,auc]
    return metrics

In [300]:
def add_row(df, test, description, metrics):
    
    data = [test,description] + metrics  
    new_row = pd.Series(data, index = df.columns)
    return df.append(new_row,ignore_index=True)

def add_metrics_to_table(df, test, description, X, y, clf):
    
    # for validation purposes
    print(clf.score(X,y),'\n')
    
    # calculate confusion matrix
    y_predict = clf.predict(X)
    y_real = y
    cm = get_confusion_matrix(y_real,y_predict)
    
    # calculate metrics
    metrics = calc_classifier_metrics(cm,y_real,y_predict)
    print('\n',metrics)
    
    # add row to results DataFrame
    return add_row(df, test, description, metrics)

In [301]:
df_results = add_metrics_to_table(df_results, 1, "Wrapper", X_wrapper, y, clf_wrapper)

0.836557561101995

TN: 17975
FP: 1163
FN: 2622
TP: 1398
TOTAL: 23158

 [0.836557561101995, 0.34776119402985073, 0.93923084961856, 0.5458805154236627, 0.8726999077535563, 0.5075836223619298, 0.3465966691687135, 0.6434960218242053]

In [302]:
df_results

,Test,Description,Accuracy,Sensitivity,Specificity,Pos_Predictive_Val,Neg_Predictive_Val,F1_Score,Matthew_Corr_Coef,AUC
0,1,Wrapper,0.836558,0.347761,0.939231,0.545881,0.8727,0.507584,0.346597,0.643496

### Part 1.2 Work

In [303]:
# TODO: 
#   Step 1: Select a learning algorithm that performs embedded feature selection. 
#   Step 2: Train a classifier using the selected features. Use 10-fold cross validation.

# Tip: 
#   1. Scikit-learn implement many classifiers, see the comparisons of their 
#   performance and introductions here:
#   https://scikit-learn.org/stable/auto_examples/classification/plot_classifier_comparison.html

#   2. Scikit-learn also implement classifiers with built-in cross validations,
#   for example: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeClassifierCV.html

#### Define embedded feature selection method

In [304]:
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier

def perform_feature_selection_embedded(X,y):
    sel = SelectFromModel(RandomForestClassifier())
    return sel.fit(X, y)

#### Perform feature selection and classification

In [305]:
from sklearn.model_selection import train_test_split

# split data
X_train_embedded,X_test_embedded,y_train_embedded,y_test_embedded = train_test_split(X,
                                                                                     y,
                                                                                     test_size=0.33)

In [306]:
%%time

# feature selection
rfc = train_embedded_model(X_train_embedded, y_train_embedded) #?? revisit to do 10-fold version
features_embedded = get_feature_list(X,rfc.get_support())

CPU times: user 897 ms, sys: 23.9 ms, total: 921 ms
Wall time: 923 ms

In [307]:
%%time

# classification
X_embedded = build_X_from_features(X,features_embedded)
clf_embedded = train_classifier(X_embedded,y,10)

CPU times: user 1.06 s, sys: 23.8 ms, total: 1.09 s
Wall time: 291 ms

In [308]:
features_embedded

['Age', 'Intubated_Y', 'Has_COVID_Y']

#### Calculate metrics and add row to results DataFrame

In [309]:
df_results = add_metrics_to_table(df_results, 2, "Embedded", X_embedded, y, clf_embedded)

0.8489938682096899

TN: 18494
FP: 644
FN: 2853
TP: 1167
TOTAL: 23158

 [0.8489938682096899, 0.2902985074626866, 0.9663496708119971, 0.6443953616786305, 0.8663512437344826, 0.4464732006518085, 0.362052739030178, 0.6283240891373417]

In [310]:
df_results

,Test,Description,Accuracy,Sensitivity,Specificity,Pos_Predictive_Val,Neg_Predictive_Val,F1_Score,Matthew_Corr_Coef,AUC
0,1,Wrapper,0.836558,0.347761,0.939231,0.545881,0.872700,0.507584,0.346597,0.643496
1,2,Embedded,0.848994,0.290299,0.966350,0.644395,0.866351,0.446473,0.362053,0.628324

### Part 1.3 Work

In [ ]:
# TODO: 
#   Step 1: Select and apply a data imputation method to handle the missing data.
#   Step 2: Apply the  wrapper based feature selection method you used in part 1.1.
#   Step 3: Train a classifier using the selected features. Use the same classifier you used in part 1.1. Use 10-fold cross validation.

# Tip: 
#   1. Sciki-learn implements different imputation methods. Take a look at https://scikit-learn.org/stable/modules/impute.html
#   and use the one you think most appropriate.

#### Impute missing values

In [322]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(strategy="most_frequent")

In [331]:
ndarray_imputed = imp.fit_transform(df_original)

In [337]:
print(ndarray_imputed.shape)
print(type(ndarray_imputed))

print(ndarray_imputed.dtype.names)
ndarray_imputed

(121913, 19)
<class 'numpy.ndarray'>
None

array([['F', 'N', 'N', ..., 'Y', 'N', 'N'],
       ['M', 'N', 'Y', ..., 'Y', 'N', 'N'],
       ['F', 'N', 'N', ..., 'Y', 'N', 'Y'],
       ...,
       ['M', 'Y', 'Y', ..., 'Pending', 'Y', 'Y'],
       ['F', 'N', 'Y', ..., 'Pending', 'N', 'N'],
       ['F', 'N', 'Y', ..., 'Pending', 'N', 'N']], dtype=object)

In [362]:
# convert back to DataFrame
df_imputed = pd.DataFrame(ndarray_imputed, columns=df_original.columns)
df_imputed.head()

,Sex,Intubated,Pneumonia,Age,Pregnant,Diabetes,COPD,Asthma,Immunocompromised,Hypertension,Other_Disease,Cardiovascular_disease,Obesity,Renal_disease,Smoker,Exposure_to_others_with_COVID,Has_COVID,ICU,Died
0,F,N,N,54,N,N,N,N,N,N,N,N,Y,N,N,N,Y,N,N
1,M,N,Y,30,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N
2,F,N,N,60,N,Y,N,N,N,Y,N,Y,N,N,N,N,Y,N,Y
3,M,N,Y,47,N,Y,N,N,N,N,N,N,N,N,N,N,Y,Y,Y
4,M,N,N,63,N,N,N,N,N,Y,N,N,N,N,N,N,Y,N,N

In [363]:
df_original.head()

,Sex,Intubated,Pneumonia,Age,Pregnant,Diabetes,COPD,Asthma,Immunocompromised,Hypertension,Other_Disease,Cardiovascular_disease,Obesity,Renal_disease,Smoker,Exposure_to_others_with_COVID,Has_COVID,ICU,Died
0,F,N,N,54,N,N,N,N,N,N,N,N,Y,N,N,NaN,Y,N,N
1,M,N,Y,30,NaN,N,N,N,N,N,N,N,N,N,N,NaN,Y,N,N
2,F,N,N,60,N,Y,N,N,N,Y,N,Y,N,N,N,NaN,Y,N,Y
3,M,N,Y,47,NaN,Y,N,N,N,N,N,N,N,N,N,NaN,Y,Y,Y
4,M,N,N,63,NaN,N,N,N,N,Y,N,N,N,N,N,NaN,Y,N,N

In [364]:
df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121913 entries, 0 to 121912
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Sex                            121913 non-null  object
 1   Intubated                      121913 non-null  object
 2   Pneumonia                      121913 non-null  object
 3   Age                            121913 non-null  object
 4   Pregnant                       121913 non-null  object
 5   Diabetes                       121913 non-null  object
 6   COPD                           121913 non-null  object
 7   Asthma                         121913 non-null  object
 8   Immunocompromised              121913 non-null  object
 9   Hypertension                   121913 non-null  object
 10  Other_Disease                  121913 non-null  object
 11  Cardiovascular_disease         121913 non-null  object
 12  Obesity                        121913 non-null  object
 13  Renal_disease                  121913 non-null  object
 14  Smoker                         121913 non-null  object
 15  Exposure_to_others_with_COVID  121913 non-null  object
 16  Has_COVID                      121913 non-null  object
 17  ICU                            121913 non-null  object
 18  Died                           121913 non-null  object
dtypes: object(19)
memory usage: 17.7+ MB

In [ ]:
# convert Age to int64 data type

In [375]:
df_imputed = df_imputed.astype({'Age': 'int64'})

In [376]:
df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121913 entries, 0 to 121912
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Sex                            121913 non-null  object
 1   Intubated                      121913 non-null  object
 2   Pneumonia                      121913 non-null  object
 3   Age                            121913 non-null  int64
 4   Pregnant                       121913 non-null  object
 5   Diabetes                       121913 non-null  object
 6   COPD                           121913 non-null  object
 7   Asthma                         121913 non-null  object
 8   Immunocompromised              121913 non-null  object
 9   Hypertension                   121913 non-null  object
 10  Other_Disease                  121913 non-null  object
 11  Cardiovascular_disease         121913 non-null  object
 12  Obesity                        121913 non-null  object
 13  Renal_disease                  121913 non-null  object
 14  Smoker                         121913 non-null  object
 15  Exposure_to_others_with_COVID  121913 non-null  object
 16  Has_COVID                      121913 non-null  object
 17  ICU                            121913 non-null  object
 18  Died                           121913 non-null  object
dtypes: int64(1), object(18)
memory usage: 17.7+ MB

#### Convert categorical data to numerical

In [351]:
def encode_data_2(df):
    '''
    Encodes categorical data then returns a DataFrame of the result.
    '''
    
    # convert categorical data to numerical values
    # drop one of each of the binary categories because it is not necessary (all info is encoded by one column)
    df=pd.get_dummies(df, drop_first=True)

    return df

In [377]:
df_imputed_encoded = encode_data_2(df_imputed)

In [378]:
df_imputed_encoded.head()

,Age,Sex_M,Intubated_Y,Pneumonia_Y,Pregnant_Y,Diabetes_Y,COPD_Y,Asthma_Y,Immunocompromised_Y,Hypertension_Y,Other_Disease_Y,Cardiovascular_disease_Y,Obesity_Y,Renal_disease_Y,Smoker_Y,Exposure_to_others_with_COVID_Y,Has_COVID_Pending,Has_COVID_Y,ICU_Y,Died_Y
0,54,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
1,30,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,60,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,1
3,47,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,1
4,63,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0

In [383]:
# separate into features and target 
X_imputed = df_imputed_encoded.drop('Died_Y', axis='columns')
y_imputed = df_imputed_encoded['Died_Y']
print(X_imputed.shape)
print(y_imputed.shape)

(121913, 19)
(121913,)

In [384]:
X_imputed_small = X_imputed[:30000]
y_imputed_small = y_imputed[:30000]
print(X_imputed_small.shape)
print(y_imputed_small.shape)

(30000, 19)
(30000,)

#### Apply wrapper based feature selection

In [385]:
%%time 
# runtime - 8 min (30000 records, 10 fold, 3 cores)

# feature selection
rfecv_imputed = perform_feature_selection_wrapper(X_imputed_small,y_imputed_small)
features_wrapper_imputed = get_feature_list(X_imputed_small,rfecv_imputed.support_)

CPU times: user 7min 59s, sys: 3.65 s, total: 8min 2s
Wall time: 23min 15s

#### Train classifier

In [386]:
%%time

# classification
X_wrapper_imputed = build_X_from_features(X_imputed_small,features_wrapper)
clf_wrapper_imputed = train_classifier(X_wrapper_imputed,y_imputed_small,10)

CPU times: user 806 ms, sys: 11.7 ms, total: 817 ms
Wall time: 225 ms

#### Add classifier metrics to results DataFrame

In [387]:
df_results = add_metrics_to_table(df_results, 
                                  3, 
                                  "Wrapper Imputed", 
                                  X_wrapper_imputed, 
                                  y_imputed_small, 
                                  clf_wrapper_imputed)

0.6767333333333333

TN: 18345
FP: 927
FN: 8771
TP: 1957
TOTAL: 30000

 [0.6767333333333333, 0.18241983594332586, 0.9518991282689913, 0.6785714285714286, 0.6765378374391503, 0.306166586810096, 0.21839850913579323, 0.5671594821061585]

In [388]:
df_results

,Test,Description,Accuracy,Sensitivity,Specificity,Pos_Predictive_Val,Neg_Predictive_Val,F1_Score,Matthew_Corr_Coef,AUC
0,1,Wrapper,0.836558,0.347761,0.939231,0.545881,0.872700,0.507584,0.346597,0.643496
1,2,Embedded,0.848994,0.290299,0.966350,0.644395,0.866351,0.446473,0.362053,0.628324
2,3,Wrapper Imputed,0.676733,0.182420,0.951899,0.678571,0.676538,0.306167,0.218399,0.567159

### Part 1.4 Work

In [ ]:
# TODO: 
#   Step 1: Apply a data imputation method to eliminate any missing values in the data. Use the same method you used in part 1.3. 
#   Step 2: Train a classifier. Use the same classifier you used in part 1.2. Use 10-fold cross validation.

#### Perform feature selection and classification

In [399]:
#?? need to repeat work here if I can just use the values from above
# split data
X_train_embedded_i,X_test_embedded_i,y_train_embedded_i,y_test_embedded_i = train_test_split(
    X_imputed,
    y_imputed,
    test_size=0.33)

In [390]:
%%time

# feature selection
rfc = train_embedded_model(X_train_embedded_i, y_train_embedded_i) #?? revisit to do 10-fold version
features_embedded_imputed = get_feature_list(X_imputed,rfc.get_support())

CPU times: user 5.52 s, sys: 86.3 ms, total: 5.6 s
Wall time: 5.61 s

In [391]:
%%time

# classification
X_embedded_imputed = build_X_from_features(X_imputed,features_embedded_imputed)
clf_embedded_imputed = train_classifier(X_embedded_imputed,y_imputed,10)

CPU times: user 3.94 s, sys: 102 ms, total: 4.04 s
Wall time: 1.08 s

In [392]:
features_embedded_imputed

['Age', 'Intubated_Y', 'Has_COVID_Y']

#### Calculate metrics and add row to results DataFrame

In [393]:
df_results = add_metrics_to_table(df_results, 
                                  4, 
                                  "Embedded Imputed", 
                                  X_embedded_imputed, 
                                  y_imputed, 
                                  clf_embedded_imputed)

0.752446416706996

TN: 86572
FP: 2785
FN: 27395
TP: 5161
TOTAL: 121913

 [0.752446416706996, 0.1585268460498833, 0.9688328838255537, 0.6495091870123333, 0.7596233997560697, 0.2724702991462146, 0.22826961193742495, 0.5636798649377184]

In [394]:
df_results

,Test,Description,Accuracy,Sensitivity,Specificity,Pos_Predictive_Val,Neg_Predictive_Val,F1_Score,Matthew_Corr_Coef,AUC
0,1,Wrapper,0.836558,0.347761,0.939231,0.545881,0.872700,0.507584,0.346597,0.643496
1,2,Embedded,0.848994,0.290299,0.966350,0.644395,0.866351,0.446473,0.362053,0.628324
2,3,Wrapper Imputed,0.676733,0.182420,0.951899,0.678571,0.676538,0.306167,0.218399,0.567159
3,4,Embedded Imputed,0.752446,0.158527,0.968833,0.649509,0.759623,0.272470,0.228270,0.563680

### Part 1.5 Work

In [ ]:
# TODO: 
#   Step 1: Apply a data imputation method to eliminate any missing values in the data. Use the same method you used in parts 1.3 & 1.4. 
#   Step 2: Select a learning algorithm that performs cost-sensitive learning. 
#   Step 3: Adjust the costs until you find a classifier that maximizes the F1-score, subject to the constraint that it achieves 95% sensitivity for the label Y.  Use 10-fold cross validation.

# Tip: 
#   1. F1-score: https://en.wikipedia.org/wiki/F1_score
#   2. Scikit-learn supports extending the classifiers to cost-sensitive learning.
#   Take a look at this tutorial: https://machinelearningmastery.com/cost-sensitive-learning-for-imbalanced-classification/

#### Apply same data imputation method

In [397]:
#?? need to repeat work here if I can just use the values from above

# separate into features and target 
X_imputed = df_imputed_encoded.drop('Died_Y', axis='columns')
y_imputed = df_imputed_encoded['Died_Y']
print(X_imputed.shape)
print(y_imputed.shape)

(121913, 19)
(121913,)

In [398]:
X_imputed_small = X_imputed[:30000]
y_imputed_small = y_imputed[:30000]
print(X_imputed_small.shape)
print(y_imputed_small.shape)

(30000, 19)
(30000,)

In [401]:
y_imputed.value_counts()

0    89357
1    32556
Name: Died_Y, dtype: int64

#### Feature Selection?

In [403]:
##?? are we performing feature selection here

#### Find correct weights for cost-sensitive classifier

In [418]:
def train_cost_sensitive_classifier(X,y,k,weights):
    clf = RidgeClassifierCV(alphas=[1e-3, 1e-2, 1e-1, 1],cv=k, class_weight=weights)
    return clf.fit(X, y)

In [420]:
def run_base_case(X,y):
    # base case
    clf = train_cost_sensitive_classifier(X,y,10,'balanced')

    # calculate confusion matrix
    y_predict = clf_costsensitive.predict(X)
    y_real = y
    cm = get_confusion_matrix(y_real,y_predict)

    # calculate metrics
    metrics = calc_classifier_metrics(cm,y_real,y_predict)
    print('\nSensitivity:',metrics[1])
    print('F-score:',metrics[5])
    
run_base_case(X_imputed,y_imputed)

TN: 58809
FP: 30548
FN: 8941
TP: 23615
TOTAL: 121913

Sensitivity: 0.7253655240201499
F-score: 0.6901169345005495

In [458]:
def calc_sensitivity_and_f1(cm):
    
    tn, fp, fn, tp = cm.ravel()
    
    # sensitivity
    sen = tp / (tp + fn)
    
    # specificity
    spec = tn / (tn + fp)
    
    # precision
    prec = tn / (tn + fp)
    
    # f1 score
    f1 = 2 * (prec * sen) / (prec + sen) 
    
    return (sen,f1)

In [467]:
def find_zero_weight_to_maximize_f1(X,y):
    
    zero_weight=0.0
    max_f1=0.0
    zero_weight_for_max=0.0
    while zero_weight < 0.2:
        zero_weight = round(zero_weight + 0.005,3)
        one_weight = round(1 - zero_weight,3)
        
        print(zero_weight,one_weight)
        clf = train_cost_sensitive_classifier(X,y,10,{0:zero_weight, 1:one_weight})

        # calculate confusion matrix
        y_predict = clf.predict(X)
        y_real = y
        cm = get_confusion_matrix(y_real,y_predict)

        # calculate metrics
        sen,f1 = calc_sensitivity_and_f1(cm)
        if sen >= 0.95 and f1 > max_f1:
            max_f1 = f1
            zero_weight_for_max=zero_weight
            
    print('max_f1:',max_f1)
    print('zero_weight for max_f1:',zero_weight_for_max)
    return zero_weight_for_max

In [468]:
# find_zero_weight_to_maximize_f1(X_imputed,y_imputed)

#### Calculate metrics for best classifier and add row to results DataFrame

In [470]:
%%time

best_zero = find_zero_weight_to_maximize_f1(X_imputed,y_imputed)
best_one = round(1-best_zero,3)
print()
print(best_zero)
print(best_one)

0.005 0.995
0.01 0.99
0.015 0.985
0.02 0.98
0.025 0.975
0.03 0.97
0.035 0.965
0.04 0.96
0.045 0.955
0.05 0.95
0.055 0.945
0.06 0.94
0.065 0.935
0.07 0.93
0.075 0.925
0.08 0.92
0.085 0.915
0.09 0.91
0.095 0.905
0.1 0.9
0.105 0.895
0.11 0.89
0.115 0.885
0.12 0.88
0.125 0.875
0.13 0.87
0.135 0.865
0.14 0.86
0.145 0.855
0.15 0.85
0.155 0.845
0.16 0.84
0.165 0.835
0.17 0.83
0.175 0.825
0.18 0.82
0.185 0.815
0.19 0.81
0.195 0.805
0.2 0.8
max_f1: 0.4275058176416951
zero_weight for max_f1: 0.115

0.115
0.885
CPU times: user 5min 56s, sys: 24.2 s, total: 6min 20s
Wall time: 1min 44s

In [471]:
clf_costsensitive = train_cost_sensitive_classifier(X_imputed,y_imputed,10,{0:best_zero, 1:best_one})

In [476]:
df_results = add_metrics_to_table(df_results, 
                                  5, 
                                  "Cost Sensitive Imputed", 
                                  X_imputed, 
                                  y_imputed, 
                                  clf_costsensitive)

0.45680116148400907

TN: 24611
FP: 64746
FN: 1477
TP: 31079
TOTAL: 121913

 [0.45680116148400907, 0.954632018675513, 0.27542330203565474, 0.32433081137490216, 0.9433839313094143, 0.4275058176416951, 0.24817171673530442, 0.6150276603555838]

In [477]:
df_results

,Test,Description,Accuracy,Sensitivity,Specificity,Pos_Predictive_Val,Neg_Predictive_Val,F1_Score,Matthew_Corr_Coef,AUC
0,1,Wrapper,0.836558,0.347761,0.939231,0.545881,0.872700,0.507584,0.346597,0.643496
1,2,Embedded,0.848994,0.290299,0.966350,0.644395,0.866351,0.446473,0.362053,0.628324
2,3,Wrapper Imputed,0.676733,0.182420,0.951899,0.678571,0.676538,0.306167,0.218399,0.567159
3,4,Embedded Imputed,0.752446,0.158527,0.968833,0.649509,0.759623,0.272470,0.228270,0.563680
4,5,Cost Sensitive Imputed,0.456801,0.954632,0.275423,0.324331,0.943384,0.427506,0.248172,0.615028

### Part 1.6 Work

In [ ]:
# TODO: 
#   Step 1: Implement a function calculating the weighted average F1-score, following 
#       the steps in the homework problem statement.
#   Step 2: Find a classifier that achieves a weighted average F1-score of at least 0.74 using 10-fold cross validation.

# Tip: 
#   1. F1-score: https://en.wikipedia.org/wiki/F1_score
#   2. Scikit-learn supports extending the classifiers to cost-sensitive learning.
#   Take a look at this tutorial: https://machinelearningmastery.com/cost-sensitive-learning-for-imbalanced-classification/

In [396]:
def weighted_f1(cm):
    '''
    Calculates a weighted F1-score using given confusion matrix cm. 
    '''
    
    tn, fp, fn, tp = cm.ravel()
    
    # F1 score computed using label 'Y' as true positive ??
    F_1_Y = tp / (tp + 0.5 * (fp + fn))
    
    # F1 score computed using label 'N' as true positive ??
    F_1_N = tn / (tn + 0.5 * (fp + fn))
    
    # number of instances with label 'Y'
    n_Y = tp + fp
    
    # number of instances with label 'N'
    n_N = tn + fn
    
    
    # calculate weights
    a = n_Y / (n_Y + n_N) #?? check on this
    
    b = n_N / (n_Y + n_N) #?? check on this
    
    
    # calculated weighted f1
    f1_weighted = (a * F_1_Y) + (b * F_1_N)
    
    return f1_weighted

#### Find a classifier

#### Calculate metrics and add row to results DataFrame

### Part 1.7 Work

In [ ]:
# Tip:
#   1. Scikit-learn implements different evaluation metrics for classifications,
#   see: https://scikit-learn.org/stable/modules/model_evaluation.html

### Part 1.7 Answers

1. Create a ROC plot with the results from parts 1.1 to 1.6. 
2. Create a table with the following performance metrics for the results from parts 1.1 to 1.6:
    * Accuracy
    * Sensitivity & Specificity
    * The positive and negative predictive values
    * F1-score
    * The Matthews Correlation Coefficient
    * AUC (Area under the ROC curve)